*.iml
.gradle/
**/build/
build/
local.properties
.idea/
.DS_Store
.kotlin/

# Xcode
**/xcuserdata/
**/*.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcworkspace/
iosApp/iosApp.xcodeproj/xcuserdata/
